version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: agency-os-web
    container_name: agency-os-web
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:BismillahKayaRaya@01@db:5432/agency_os?schema=public
      - NEXT_PUBLIC_STACK_PROJECT_ID=${NEXT_PUBLIC_STACK_PROJECT_ID}
      - NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=${NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY}
      - STACK_SECRET_SERVER_KEY=${STACK_SECRET_SERVER_KEY}
    depends_on:
      - db
    networks:
      - agency-network

  db:
    image: postgres:17-alpine
    container_name: agency-os-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: BismillahKayaRaya@01
      POSTGRES_DB: agency_os
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - agency-network

networks:
  agency-network:
    driver: bridge

volumes:
  postgres_data:
